/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .menu-restaurant {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 27rem;
        }
    .menu-restaurant_picture {
        display : flex;
        width: 100%;
        height: 60%;
        margin-top: 0;
        object-position: 85% 75%;
        object-fit: cover;
        }
}

@media screen and (min-width: 768px) {
    .menu-restaurant {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 30rem;
        }
    .menu-restaurant_picture {
        display : flex;
        width: 100%;
        height: 70%;
        margin-top: 0;
        object-position: 85% 75%;
        object-fit: cover;
        }
}


@media screen and (max-width: 767px) {
    .header {
        border-bottom: 4px #cecece solid;
    }
    .restaurants {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0 2rem 0;
    
    }
    .operation-restaurant_list--selection_wrapicon--number {
        position: absolute;
        left: 20px;
        border-radius: 100%;
        height: 2rem;
        width: 2rem;
        min-height: 1.2rem;
        min-width: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -5px;
        background-color: #9356DC;
    }

    /* FOOTER */
    .footer {
        background-color: #353535;
        width: 100%;
    }
    .footer-countainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 1rem;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) {

    .restaurants {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0 2rem 0;
    }
    
    .operation-restaurant_list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .operation-restaurant_list--selection {
        display: flex;
        background-color: #f6f6f6;
        align-items: center;
        justify-content:flex-start;
        padding: 1rem ;
        margin: 1.8rem;
        border-radius: 1.2rem;
        margin-bottom: 1.1rem;
        cursor: pointer;
        transition-duration: 0.1s;
        box-shadow: 5px 3px 8px 2px #3f3e3e2e;
    }
    .operation-restaurant_list--selection_wrapicon--number {
        position: absolute;
        margin-left: -30px;
        margin-top: -5px;
        border-radius: 100%;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9356DC;
    }
    .commandButton {
        display: flex;
        margin: auto;
    }

    /* FOOTER */
    .footer {
        background-color: #353535;
        width: 100%;
    }
    .footer-countainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin: auto;
        padding: 1rem;
        box-sizing: border-box;
}

@media screen and (min-width: 926px) {
    .header {
        display: flex;
        max-width: 994px;
        margin: auto;
    }
    .operation-restaurant_list {
        justify-content: center;
        margin: auto;
    }
    .restaurants {
        background-color: #f6f6f6;
        display: flex;
        justify-content: flex-start;
        padding: 1.5rem 0 2rem 0;
    
    }
    .restaurants_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 40%;
    }
    .restaurants_list--card {
        width: 40%;
        height: 50%;
        margin-top: 2rem;
    }
    .restaurants_heading, .operation-restaurant_heading {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 500;
    }
    .commandWrapButton {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    /* BEGIN FOOTER */

    .footer {
        background-color: #353535;
        width: 100%;
        margin: auto;
    }
    .footer-countainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-left: 3rem;
        padding: 1rem;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1300px) {
    
    .menu-restaurant {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 35.5rem;
    }
    .menu-restaurant_picture {
        display : flex;
        width: 100%;
        margin-top: 0;
        height: 70%;
        object-position: 85% 75%;
        object-fit: cover;
    }
    .menu-selection_starter {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
    }
    .menu-selection_starter--entree, 
    .menu-selection_starter--dish, 
    .menu-selection_starter--dessert {
        width: 370px;
    }
    .commandWrapButton {
        display: flex;
        justify-content: center;
    }

    /* BEGIN FOOTER */

    .footer {
        max-width: 1440px;
        background-color: #353535;
        display: block;
        margin: 0;
        border: 0;
        }
    .footer-countainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 3rem;
        padding: 1rem;
        box-sizing: border-box;
    }
}
