@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

body {
    margin: 0;
    font-family: "Roboto", "Sans serif";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: bold;
    font-size: 0.9rem;
}

/* BEGIN HEADER */

.header {
    display: flex;
    padding: 15px;
    align-items: center;

}
.headerPrevious {
    display:flex;
    align-items: center;
    margin: 0;
}
.previousIcon {
    margin: 0rem;
}
.headerLogo {
    display: flex;
    margin: auto;
}

/* BEGIN MAIN */
.main {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

/* BEGIN SEARCH LOCATION */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
}


.search__input {
    text-align: center;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    background-color: inherit;
    padding: 1.5rem;
    border: none;
    transition: all 0.5s;
    width: 100%;
}

.locationRestaurant {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #eaeaea;
}
.locationSearch {
    background:#eaeaea;
    font-weight: 700;
}
.locationSearch input {
    background: #eaeaea;
    border: none;
    text-align: center;
    font-size: 1rem;
    width: 160px;
}

/* BEGIN INFOS ENTREPRISE */
.infosRestaurant {
    background-color: #f6f6f6;
    text-align: center;
}
.infosTitle {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 900;
}
.infosSubtitle {
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 300;
}
.infosButton {
    background: linear-gradient( #FF79DA, #9356DC );
    box-shadow: 4px 4px 6px #aaa;
    color: white;
    font-weight: bold;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 3rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 200ms;
}
.infosButton:hover {
    background-color: #b195b8;
    background-blend-mode: lighten;
    box-shadow: 4px 4px 6px rgb(143, 76, 163);
    transform: scale(1.10);
}

.operationRestaurant {
    margin: auto;
    padding-bottom: 1.5rem;
    font-weight: 900;
}

/* BEGIN OPERATION RESTAURANT */

.operationSelection {
    display: flex;
    background-color: #f6f6f6;
    align-items: center;
    justify-content:flex-start;
    padding: 1rem ;
    margin: 1.8rem;
    border-radius: 1.2rem;
    margin-bottom: 1.3rem;
    cursor: pointer;
    transition-duration: 0.1s;
    box-shadow: 5px 3px 8px 2px #3f3e3e2e;
}

.operationSelection:hover {
    background-color:#f5edff;
}
.numberTitle {
    color: white;
}
.operationTitle {
    font-weight: 900;
    padding-top: 1rem;
    margin-left: 1.5rem;
}
.selectionTitle {
    margin: 0.8rem;
    margin-left: 1.7rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.selectionIcon {
    margin-left: 1.3rem;
    color: #7e7e7e;
}
.operationSelection:hover .fas {
    color: #9356DC;
}

/* RESTAURANT */

.restaurantTitle {
    margin-left: 1.5rem;
    font-weight: 900;
}

.frameRestaurant {
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.3rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 15px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}
.frameRestaurant:hover {
    transform: scale(1.02);
    border-radius: 1.30rem;
}
.restaurantCard {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    height: 220px;
    width: 100%;
}
.framePicture {
    height: 65%;
    object-fit: cover;
    object-position: 50% 60%;
    max-width: 100%;
    width: 100%;
}
.frameNew {
    padding: 0.5rem 1rem;
    position: absolute;
    border-radius: 3px;
    font-size: 1rem;
    top: 1rem;
    right: 1rem;
    font-weight: 500;
    background-color: #99E2D0;
    color: #008766;
}
.descriptionWrap {
    display: flex;
    justify-content: space-between;
}
.descriptionText {
    display: flex;
    flex-basis: 90%;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    transition: box-shadow 0.3s;

}

.frameCaptionTitle {
    flex-basis: 100%;
    margin: auto;
    margin-left: 0;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.heart {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-right:1.5rem;
    left:-20px;
    transition: box-shadow 0.3s;
    font-size: 3rem;
    cursor: pointer;
}
.heart-full:hover {
    display: inline-block;
    animation: anim 2s ease forwards;
    opacity: 1;
}
@keyframes anim {
    0% {
        opacity: 0;
        transform: translateY(0);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}

.frameLocation {
    font-size: 1rem;
    margin: auto;
    margin-left: 0;
    padding-top: 0.2rem;
    padding-left: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.likeIcon {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    padding-top: 1.5rem;
    padding-right:1.5rem;
    padding-left: 1.5rem;
    transition: box-shadow 0.3s;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}
.likeIcon:hover {
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    font-weight: bold;
    animation: fill 0.3s ease-in-out;
    

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.likeIcon2 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    padding-right:1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: box-shadow 0.3s;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}
.likeIcon2:hover {
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    font-weight: bold;
    animation: anim 2s ease forwards;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@keyframes anim {
    0% {
        opacity: 0;
        transform: translateY(0);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}
  /*@keyframes heart {
    0% {
        opacity: 0;
        transform: translateY(40px);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }*/


/* BEGIN FOOTER */

.footerTitle {
    font-family: "Shrikhand", "Sans serif";
    color: white;
    margin-top: 0;
    margin-left: 1rem;
}
.footerColumnLink {
    display: block;
    margin: 0.5rem;
    margin-left: 1rem;
    color: white;
}
.footerIcon {
    margin-right: 0.5rem;
}

/* PAGE MENU LA PALETTE */

.menuPicture {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 27.5rem;
}
.pictureRestaurant {
    display : flex;
    width: 100%;
    margin-top: 0;
    height: 57%;
    width: 100%;
    object-position: 75% 75%;
    object-fit: cover;
}
.headerWrapTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.menuSelection {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    z-index: 10;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 1.5rem ;
    margin-top: -15rem;
    border-radius: 2.5rem 2.5rem 0 0;
    box-shadow: 5px 3px 8px 2px #3f3e3e2e;
}
.menuTitle {
    display: flex;
    font-family: "Shrikhand", "Sans serif";
    font-size: 1.7rem;
}
.starterContainer {
    width: 100%;
}
.starterTitle {
    font-size: 1rem;
    font-weight: 400;
    color: #7e7e7e;
    text-transform: uppercase;
    margin: 1rem 0;

}
.starterTitle::after {
    display: block;
    background-color: #99E2D0;
    width: 50px;
    height: 3px;
    content: '';
    margin-top: 0.5rem;

}
.starterSelection {
    display: flex;
    overflow: hidden;
    background-color: white;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1.25rem;
    box-shadow: 0 0 15px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    animation: moveStarterSelection 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}
@keyframes moveStarterSelection {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.starterSelection:nth-of-type(1) {
    animation-delay: .1s;
}
.starterSelection:nth-of-type(2) {
    animation-delay: .35s;
}
.starterSelection:nth-of-type(3) {
    animation-delay: .6s;
}
.starterSelection:hover >div:first-child {
    min-width: 70%;
}
.starterSelection:hover >div:last-child {
    visibility: visible;
    display: flex;
    width: 30%;
}
.starterSelection:hover >div>i {
    animation: 0.5s rotate ease;
    animation-fill-mode: forwards;
}
@keyframes rotate {
    0% {
      transform: rotate(0.75turn);
    }
  
    100% {
      transform: rotate(0turn);
    }
  }

.starterSubtitle {
    margin:0;
    flex-basis: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    display: block;
    font-size: 1.1rem;
    font-weight: bold;
}
.starterDescribe {
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}
.starterParagraph {
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.starterInfos {
    background-color: white;
    width: 100%;
    padding: 0.8rem;
}
.starterChecking {
    display: flex;
    visibility: hidden;
    width: 0;
    color: white;
    background-color: #99E2D0;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
  
.commandButton {
    background: linear-gradient( #FF79DA, #9356DC );
    box-shadow: 4px 4px 6px #aaa;
    color: white;
    font-weight: bold;
    justify-content: center;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 6rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 200ms;
}

.commandButton:hover {
    background-color: #b195b8;
    background-blend-mode: lighten;
    box-shadow: 4px 4px 6px rgb(143, 76, 163);
    transform: scale(1.10);
}
.loader {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#faa2e7, #FFFFFF) ;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    pointer-events: none;
    animation: loader 1s ease-in-out 3s forwards;

}
.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #FFFFFF;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
    
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  } 
}
@keyframes loader {
    0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
}

