// ******** BEGIN HEADER *********

.header {
    display: flex;
    padding: 15px;
    align-items: center;
    margin: auto;
    max-width: 1440px;

    &_logo {
        margin: auto;
    }
}

// ******** BEGIN MAIN ***********

.search-restaurant {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: $light-grey;

    &_input {
        font-weight: 700;
    }
    &_input input {
        border: none;
        text-align: center;
        font-size: 1rem;
        width: 160px;
    }
}

// ********* BEGIN INFO RESTAURANT ********

.info-restaurant {
    background-color: #f6f6f6;
    text-align: center;

    &_heading {
        margin: 0 auto 0 auto;
        padding: 2rem 3rem 1rem 3rem;
        font-weight: 900;
    }
    &_description {
        margin: 0;
        font-weight: 300;
    }
    &_btn {
        background: linear-gradient( $pink, $purple );
        box-shadow: 4px 4px 6px #aaa;
        color: $white;
        font-weight: bold;
        padding: 1rem 1.3rem 1rem 1.3rem; 
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        cursor: pointer;
        margin: 1rem auto 3rem auto;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 200ms;
    }
    &_btn:hover {
        background-color: #b195b8;
        background-blend-mode: lighten;
        box-shadow: 4px 4px 6px rgb(143, 76, 163);
        transform: scale(1.10);
    }
}

